@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Rubik-R';
    src: url(fonts/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Rubik-L';
    src: url(fonts/Rubik-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik-M';
    src: url(fonts/Rubik-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik-B';
    src: url(fonts/Rubik-Bold.ttf);
    font-weight: 700;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('img/buldozer1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main .navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.navbar a {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: black;
}

.navbar a:hover {

    color: rgb(53, 53, 53);
}


.main .links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.navbar .logo {
    margin-right: 70px;
}

/* Main texts */

.main .text {
    width: 700px;
    padding-top: 240px;
    padding-bottom: 100px;
    position: relative;

}


.main .main-text {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-bottom: 30px;
}

.main .subtitle {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    color: white;
    line-height: 20px;
    padding-bottom: 40px;
}

.main .button {
    color: white;
    background-color: #27AE60;
    padding: 20px 36px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    border-radius: 9px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid transparent;
}

.main .button:hover {
    background-color: #ffffff;
    color: #27AE60;
    border: 2px solid #27AE60;

} 

.main .subtitle span {
    display: block;
}

/* first section */

.h1 {
font-size: 30px;
font-family: 'Rubik', sans-serif;

}
.first .h1{
padding-top: 20px;
padding-bottom: 30px;
}

.first .mini-cards span{
    color: #27AE60;
}

/* mini cards */
.first .cards{
    display: flex;
    justify-content: space-between;
}
.first .mini-cards{
    width: 210px;
    height: 75px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding: 15px;
}
.first .mini-cards p{
    margin-left: 20px;
}



.materials .pad2{
    padding: 40px 0;

    font-size: 30px;
font-family: 'Rubik', sans-serif;
}

/* Big cards */

.materials .cards-2 .card{
    width: 280px;
    height: 430px;
    border-radius: 10px;
  
    display: flex;
    align-items: end;

    padding: 20px;
    color: white;
}

.materials .cards-2{
    display: flex;
    justify-content: space-between;

   
}

.cards-2 .card:nth-child(1){
    background-image: url(img/pesok.png);
    background-size: cover;

    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    
}
.cards-2 .card:nth-child(2){
    background-image: url(img/cheben.png);
    background-size: cover;
    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    

}
.cards-2 .card:nth-child(3){
    background-image: url(img/asfalt1.png);
    background-size: cover;
    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    

}
.cards-2 .card:nth-child(4){
    background-image: url(img/tex.png);
    background-size: cover;
    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    
}


.cards-2 .card:nth-child(1):hover{
    position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.cards-2 .card:nth-child(2):hover{
    background-image: url(img/cheben.png);
    background-size: cover;
     position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.cards-2 .card:nth-child(3):hover{
    background-image: url(img/asfalt1.png);
    background-size: cover;
     position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.cards-2 .card:nth-child(4):hover{
    background-image: url(img/tex.png);
    background-size: cover;
     position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}



/* About */
.about .container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Rubik', sans-serif;
}
.about .info-card{
    width: 550px;
    height: 300px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;

    position: relative;
    top: 0;
    left: 0;
}
.about .main-t {
    width: 460px;
}
.about .main-t p{
    padding-top: 20px;
}

.about .info-card .sixty{
padding: 70px;
}

.about .info-card .fifty{
    padding: 70px;
}

.about .info-card h1{
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 15px;
}

.about .info-card .sixty::after{
    content: '';
    position: absolute;
    scale: 0.8;
    top: 90px;
    left: 150px;
    background-image: url('icons/plus.svg');
    width:20px;
    height: 20px;
    
    background-position: center;
    }




    /* questions */

    
    .questions{
        background-color: #f8f8f8;
        margin-top: 60px;
        padding: 40px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .questions .container{
       display: flex;
       justify-content: space-between;
    }
    .questions .text-block{
        width: 400px;
     
    }

    .questions .text-block .h1{
        padding: 30px 0 20px 0;
        

    }
    .questions .text-block span{
        color: #27AE60;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
            
    }
    .questions .text-block p{
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        padding: 30px 0 35px 0;
    }

    .questions .text-block .call{
        padding: 13px 35px;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        font-weight: 450;
        color: white;
        background-color: #27AE60;
        border: solid 2px #27AE60;
        border-radius: 5px;
    }
    .questions .text-block .call:active{
       
        
        
        border: solid 2px rgb(0, 0, 0);
    }


    .questions .input-block .form{
        width: 500px;
        height: 350px;
        background-color: white;
        padding: 30px;
        border-radius: 5px;
    }
    .questions .input-block .form .text,
    .questions .input-block .form .number
    {
        padding: 12px;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 15px;
        border: 1px solid #DDDDDD;
       font-family: 'Rubik', sans-serif;
    }
    .questions .input-block .form textarea
    {
        padding: 12px;
       height: 110px;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 15px;
        border: 1px solid #DDDDDD;
       font-family: 'Rubik', sans-serif;
       margin-bottom: 30px;
       resize: none;
    }

    .questions .input-block .form label{
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
    }
    .questions .input-block .form input::placeholder,
    .questions .input-block .form textarea::placeholder{
        font-size: 14px;
        font-weight: 400;
        font-family: 'Rubik', sans-serif;
        color: #181a28;
    }
    .questions .input-block .form input:focus,
    .questions .input-block .form textarea:focus{
        outline: 2px solid #57ff9d;
    }

.questions .input-block::before{
    content: '';
    position: absolute;
    top: 0;
    left: 910px;
   width: 250px;
   height: 100%;
   background-color: #27AE60;
   z-index: -1;
}





/* info map */
.map .container .map-left{
    width: 620px;
    
}


.map .container .h1{
   margin: 30px 0;
}
.map .container .sub-info {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-bottom:40px ;
    width: 500px;
}
.map .container .map-left .star{
    font-size: 16px;
    font-weight: 350;
    font-family: 'Rubik', sans-serif;
    padding: 25px;
    padding-left: 40px;
    position: relative;
    left: 0;
    top: 0;

}
.map .container .map-left .star::before{
    content: '';
    background-image: url(icons/star.svg);
    position: absolute;
    left: 0;
    top: 22px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}


.map .container .parent-info .adress-info,
.map .container .parent-info .number-info
{
    width: 280px;
    height: 150px;
    background-color: #f8f8f8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.map .container .parent-info{
    
    display: flex;
    justify-content: flex-start;
   gap: 30px;
   margin-top: 125px;
 
}

.map .container .parent-info h3{
    font-size: 16px;
    font-weight: 450;
    font-family: 'Rubik', sans-serif;
}
.map .container .parent-info p{
    font-size: 14px;
    font-weight: 350;
    font-family: 'Rubik', sans-serif;
    color: #848692;

}
.map .container{
    display:flex;
    justify-content: space-between;
}


.map .map-right{
    position: relative;
    top: 0;
    left: 0;
}



.map .map-right .btn{


    position: absolute;
    top: 30px;
    left: 30px;



    width: 150px;
    height: 40px;
    background-color: #27AE60;
    color: white;
    border: none;

    border-radius: 3px;
      font-size: 12px;
    font-weight: 450;
    font-family: 'Rubik', sans-serif;
}
.map .map-right .btn:active{
box-shadow: 4px 4px 31px 10px rgba(39, 174, 96, 0.7);

}


.map .map-right .round{
    position: absolute;
    top: 130px;
    left: 70px;
    width: 400px;
    height: 400px;
    background-color: #27AE60;
    border-radius: 50%;
    opacity: 0.2;
}




/* footer */

.footer{
    background-color:#424141;
    padding: 20px 0;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}


.footer .container .f-block{
    display: flex;
    gap: 30px;
    align-items: center;
  
}
.footer .container .f-block p{
    font-size: 10px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}




.footer .container .s-block{
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer .container .s-block a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.footer .container .th-block{
    display: flex;
    gap: 35px;
    align-items: center;
}
.footer .container .th-block .all-icons{
    display: flex;
    gap: 20px;
}

.footer .container .th-block .number{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;

    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.footer .container .th-block .number:hover{
    padding: 10px 20px;
    background-color: white;
    border: 2px solid white;

    color: black;
   
    
  
}
.footer .container .th-block .number:active{
    padding: 10px 20px;
    background-color: #27AE60;
    border: 2px solid #27AE60;

    color: white;
    
  
}