@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Rubik-R';
    src: url(fonts/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Rubik-L';
    src: url(fonts/Rubik-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik-M';
    src: url(fonts/Rubik-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik-B';
    src: url(fonts/Rubik-Bold.ttf);
    font-weight: 700;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('img/buldozer1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main .navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.navbar a {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: black;
}

.navbar a:hover {

    color: rgb(53, 53, 53);
}


.main .links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.navbar .logo {
    margin-right: 70px;
}

/* Main texts */

.main .text {
    width: 700px;
    padding-top: 240px;
    padding-bottom: 100px;
    position: relative;

}


.main .main-text {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-bottom: 30px;
}

.main .subtitle {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    color: white;
    line-height: 20px;
    padding-bottom: 40px;
}

.main .button {
    color: white;
    background-color: #27AE60;
    padding: 20px 36px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    border-radius: 9px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid transparent;
}

.main .button:hover {
    background-color: #ffffff;
    color: #27AE60;
    border: 2px solid #27AE60;

} 

.main .subtitle span {
    display: block;
}

/* first section */

.h1 {
font-size: 30px;
font-family: 'Rubik', sans-serif;

}
.first .h1{
padding-top: 20px;
padding-bottom: 30px;
}

.first .mini-cards span{
    color: #27AE60;
}

/* mini cards */
.first .cards{
    display: flex;
    justify-content: space-between;
}
.first .mini-cards{
    width: 210px;
    height: 75px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding: 15px;
}
.first .mini-cards p{
    margin-left: 20px;
}



.materials .pad2{
    padding: 40px 0;

    font-size: 30px;
font-family: 'Rubik', sans-serif;
}

/* Big cards */

.materials .cards-2 .card{
    width: 280px;
    height: 430px;
    border-radius: 10px;
  
    display: flex;
    align-items: end;

    padding: 20px;
    color: white;
}

.materials .cards-2{
    display: flex;
    justify-content: space-between;

   
}

.cards-2 .card:nth-child(1){
    background-image: url(img/pesok.png);
    background-size: cover;

    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    
}
.cards-2 .card:nth-child(2){
    background-image: url(img/cheben.png);
    background-size: cover;
    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    

}
.cards-2 .card:nth-child(3){
    background-image: url(img/asfalt1.png);
    background-size: cover;
    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    

}
.cards-2 .card:nth-child(4){
    background-image: url(img/tex.png);
    background-size: cover;
    position: relative;
    bottom: 0;
    left: 0;

    transition: all 0.5s;
    
}


.cards-2 .card:nth-child(1):hover{
    position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.cards-2 .card:nth-child(2):hover{
    background-image: url(img/cheben.png);
    background-size: cover;
     position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.cards-2 .card:nth-child(3):hover{
    background-image: url(img/asfalt1.png);
    background-size: cover;
     position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.cards-2 .card:nth-child(4):hover{
    background-image: url(img/tex.png);
    background-size: cover;
     position: relative;
    bottom: 20px;
    left: 0;
    transition: all 0.5s;
    cursor: pointer;
}



/* About */
.about .container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Rubik', sans-serif;
}
.about .info-card{
    width: 550px;
    height: 300px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;

    position: relative;
    top: 0;
    left: 0;
}
.about .main-t {
    width: 460px;
}
.about .main-t p{
    padding-top: 20px;
}

.about .info-card .sixty{
padding: 70px;
}

.about .info-card .fifty{
    padding: 70px;
}

.about .info-card h1{
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 15px;
}

.about .info-card .sixty::after{
    content: '';
    position: absolute;
    scale: 0.8;
    top: 90px;
    left: 150px;
    background-image: url('icons/plus.svg');
    width:20px;
    height: 20px;
    
    background-position: center;
    }




    /* questions */

    
    .questions{
        background-color: #DDDDDD;
    }
    .questions .container{
       display: flex;
    }
    .questions .text-block{
        width: 400px;
        background-color: #a80e0e;
    }

    .questions .text-block .h1{
        padding: 30px 0 20px 0;

    }
    .questions .text-block span{
        color: #27AE60;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
            
    }
    .questions .text-block p{
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        padding: 30px 0 35px 0;
    }

    .questions .text-block .call{
        padding: 13px 35px;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        font-weight: 450;
        color: white;
        background-color: #27AE60;
        border: solid 2px #27AE60;
        border-radius: 5px;
    }
    .questions .text-block .call:active{
       
        
        
        border: solid 2px rgb(0, 0, 0);
    }